.container {
    border:solid 1px rgba(#000, .1);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 12px 24px;
    background: linear-gradient(to bottom, #020303, #333A40);
    color:#fff;
}